:root {
    --action-color-1: #1EC91E !important;
    --action-color-2: #CE2089 !important;
    --primary-color: #08464B !important;
    --secondary-color: #0D4254 !important;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    cursor: pointer;
}

a:hover {
    color: var(--action-color-2) !important;
}

h2 {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

.navbar-brand {
    color: var(--secondary-color) !important;
}

.form-control {
    height: 3rem;
}

.action-color-1 {
    color: var(--action-color-1) !important;
}

.action-color-2 {
    color: var(--action-color-2) !important;
}

.bg-action-color-1 {
    background-color: var(--action-color-1) !important;
}

.bg-action-color-2 {
    background-color: var(--action-color-2) !important;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-size: 1.15rem;
    border-radius: 4px;
    padding: 10px 20px;
}

.btn-primary {
    background: var(--action-color-1);
    border-color: var(--action-color-1) !important;
}

.btn-primary:hover {
    background: var(--primary-color);
    border-color: var(--primary-color) !important;
}

.color-primary {
    color: var(--primary-color);
}

.secondary-primary {
    color: var(--secondary-color);
}

.banner-main {
    background: linear-gradient(rgb(13 66 84 / 80%), rgb(13 66 84 / 80%)), url(assets/banner-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-main .form-control {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
}

.banner-main .btn-primary {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.benefits-section ul {
    text-align: left;
}

.benefits-section ul li {
    text-indent: -1.4rem;
}

.benefits-section ul i {
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 1rem;
    color: var(--action-color-1);
}

.comparision-section {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.comparision-section table th,
.comparision-section table td {
    background-color: transparent;
    color: #ffffff;
}

.comparision-section table tbody td {
    text-align: left;
}

.heading-with-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.bg-circle {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contact-section {
    background: linear-gradient(rgb(13 66 84 / 80%),
            rgb(13 66 84 / 80%)), url(assets/form-bg-img.jpg) no-repeat;
    background-color: var(--secondary-color);
    color: #ffffff;
    background-size: cover;
}

.contact-section a {
    color: #ffffff;
}

.footer-section {
    background-color: var(--secondary-color);
    color: #ffffff;
}

.footer-section a {
    color: #ffffff;
}

.footer-section .border-bottom {
    border-color: rgb(255 255 255 / 20%) !important;
}

.social-section {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1.85rem;
    gap: 1rem;
    padding: 0;
}

.social-section li a {
    color: var(--action-color-1);
}
